# Database selection
DJANGO_DB=postgresql

# PostgreSQL connection (used when DJANGO_DB=postgresql)
POSTGRE_HOST=localhost
POSTGRE_PORT=5432
POSTGRE_USER=postgres
POSTGRE_PASSWORD=postgres
POSTGRE_NAME=postgres

# Frontend dev server options
FRONTEND_HMR=false
FRONTEND_HOSTNAME=http://localhost:8010
DJANGO_HOSTNAME=http://localhost:8080
