# Production Environment Variables
DJANGO_DB=postgresql
POSTGRE_NAME=postgres
POSTGRE_USER=postgres
POSTGRE_PASSWORD=your_secure_password_here
POSTGRE_PORT=5432
POSTGRE_HOST=your_prod_db_host
LABEL_STUDIO_HOST=https://yourdomain.com
LUNOR_JWT_SECRET=your_jwt_secret_prod
GRAPHQL_ENDPOINT=your_graphql_endpoint
LUNOR_QUEST_URL=your_quest_url
