# Development Environment Variables
DJANGO_DB=postgresql
POSTGRE_NAME=postgres
POSTGRE_USER=postgres
POSTGRE_PASSWORD=dev_password
POSTGRE_PORT=5432
POSTGRE_HOST=db
LABEL_STUDIO_HOST=http://localhost:8080
LUNOR_JWT_SECRET=dev_jwt_secret
GRAPHQL_ENDPOINT=dev_graphql_endpoint
LUNOR_QUEST_URL=dev_quest_url
